.pink{
    background-color: pink;

}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}